.itemDetail {
  display: flex;
  padding: 2rem;
  margin-top: 45px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.itemDetail:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.itemDetailContent {
  display: flex;
}

.itemDetailImage {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-right: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itemDetailText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemDetailTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.itemDetailPrice,
.itemDetailDescription,
.itemDetailStock,
.itemDetailShipping {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.itemDetailShipping h3 {
  font-size: 1.25rem;
}

.finishPurchaseBtn,
.continueShoppingBtn {
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1rem;
  text-decoration: none;
  display: inline-block;
}

.finishPurchaseBtn:hover,
.continueShoppingBtn:hover {
  background-color: grey;
}
